.button {
  font: inherit;
  border: 1px solid #4f005f;
  background: #FF3659;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 15px;
}

.button:hover,
.button:active {
  background: #FF647F;
  border-color: #741188;
}

.button:focus {
  outline: none;
}